.vscode/**
typings/**
out/test/**
out/src/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md

node_modules/**
!node_modules/open/**
!node_modules/define-lazy-prop/**
!node_modules/is-docker/**
!node_modules/is-wsl/**
